<div class="container-bookings">
  <h1 style="font-size: 3.0rem;"> Victime de son succès cette chambre d'hôtel ne sera plus
  disponible cette année ! </h1>
  <br>
  <%= link_to "Retour à la liste des chambres", rooms_path %>
</div>
