<div class = "container-home">
  <h1 style="color:#0014ff;font-size: 5.5rem;">Bienvenue</h1>
  <p style="color: #8B9A46;font-size: 3.0rem;font-weight: bold;"> Accorder-vous un moment d'évasion...
  Vous le méritez ! </p>
<%= link_to "Cliquer ici pour voir nos chambres", rooms_path%>
</div>
