<div class = "container-show">
<h1 style="font-size: 4.0rem; color:#2167FC;"><%= @room.price_per_night%></h1>
<p style="font-size : 2.0rem; color: #E04DB0; font-weight: bold;"><%= @room.capacity %></p>
<%= link_to "Retour à la liste des chambres", rooms_path %>
<br>
<br>
<%= link_to "Retour à la page d'accueil", root_path %>
</div>
