body {
  background-image: image-url('coeurdiscret.jpg');
}

.container-index {
  text-align: center;
  margin-top: -2%;
}

.container-home {
  text-align: center;
  margin-top: 13%;
}

.container-show {
  text-align: center;
  margin-top: 13%;
}

.container-bookings {
  text-align: center;
  margin-top: 13%;
}
